/* Global Styles */
html,
body {
  margin: 0;
  padding: 0;
  color: white;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: black;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  height: 100vh;
  background-color: black;
}

.sidebar {
  width: 350px;
  height: 100%;
  position: fixed;
  left: 0;
  border-right: 0.5px solid grey;
  color: white;
  font-size: x-large;
  background-color: black;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  padding: 20px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.sidebar nav ul li a.active {
  font-weight: bold;
}

.sidebar nav ul li a svg {
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  margin-left: 250px;
  margin-right: 250px;
}

.tweet-container {
  width: 600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tweet {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.user-details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-details img {
  border-radius: 50%;
  margin-right: 10px;
  width: 48px;
  height: auto;
}

.user-details h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.user-details p {
  margin: 0;
  color: #555;
}

.tweet img {
  max-width: 100%;
  margin-top: 10px;
}

.padding55px {
  padding-left: 55px;
}

.sidebar {
  width: 500px;
  height: 100%;
  position: fixed;
  left: 0;
  border-right: 0.5px solid grey;
  color: white;
  font-size: x-large;
}

.sidebar nav ul {
  list-style-type: none;
  padding-left: 300px;
  margin: 0;
}

.sidebar nav ul li {
  padding: 20px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.sidebar nav ul li a.active {
  font-weight: bold;
}

.fifteenPxPadding {
  padding-right: 15px;
}

.tenPxPadding {
  padding-right: 10px;
}

.right-sidebar {
  width: 400px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  border-left: 0.5px solid grey;
  font-size: large;
  padding: 20px;
}

.premium {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #2d2d2d;
}

.premium h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.premium p {
  font-size: 14px;
  margin-bottom: 10px;
}

.subscribe-button {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.trends h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.trends ul {
  list-style-type: none;
  padding: 0;
}

.trends li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.trends a {
  color: white;
  text-decoration: none;
}

.who-to-follow h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.who-to-follow {
  background-color: #2d2d2d;
  padding: 15px;
  border-radius: 10px;
}
