.sidebar {
  width: 500px;
  height: 100%;
  position: fixed;
  border-right: 0.5px solid grey;
  color: white;
  font-size: x-large;
  left: 0;
  right: 0;
}

.sidebar nav ul {
  list-style-type: none;
}

.sidebar nav ul li {
  padding: 20px 200px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.sidebar nav ul li a.active {
  font-weight: bold;
}

.fifteenPxPadding {
  padding-right: 15px;
}
.tenPxPadding {
  padding-right: 10px;
}
